<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Músicas</title>
</head>
<body>
    <h1>Lista de Músicas</h1>
    <a href="{% url 'cadastrar_music' %}">Cadastrar Nova Música</a>
    <ul>
        {% for musica in musicas %}
        <li>
            {{ musica.nome }}
            <a href="{% url 'editar_music' musica.id %}">Editar</a>
            <a href="{% url 'excluir_musica' musica.id %}">Excluir</a>
        </li>
        {% empty %}
        <li>Nenhuma música cadastrada.</li>
        {% endfor %}
    </ul>
    
</body>
</html>